.arduino-rover .remote {
	
	background-color: black;
	color: white;
	
	.video {
		text-align: center;
		height: 100%;
		border-top: solid 1px silver;
		border-bottom: solid 1px silver;
		
		img {
			height: 100%;
			width: 100%;
			position: absolute;
			left: 0px;
			top: 0px;
			z-index: -1;
		}
		
		.sensor {		
			width: 100%;
			@include flex(0.15);
			text-shadow: 3px 3px 3px black;
			font-weight: bolder;
			font-size: 120%;
		}
				
		.camera {
			border-top: 1px silver solid;
			border-left: 1px silver solid;
			@include flex(0.425);
		}
		
		.movement {
			border-top: 1px silver solid;
			border-left: 1px silver solid;
			width: 100%;
			@include flex(0.425);
		}
	}
	
	.dragpad {
		.x-axis {
				position: relative;
				padding-left: 20px;
				text-align: left;

				.label {
					font-size: 10px;
					line-height: 15px;
					vertical-align: top;
					text-shadow: 3px 3px 3px black;
				}

				.indicator {
					position: absolute;
					width: 5px;
					height: 10px;
					background-color: red;
					top:0px;
				}

				.midpoint {
					position: absolute;
					width: 1px;
					height: 10px;
					background-color: silver;
					top:0px;
				}
			}

			.y-axis {
				position: relative;
				text-align: left;

				.label {
					font-size: 10px;
					line-height: 15px;
					@include transform-origin(bottom, left);
					@include rotate(90deg);
					display: inline-block;
					text-shadow: 3px 3px 3px black;
				}

				.indicator {
					position: absolute;
					width: 10px;
					height: 5px;
					background-color: blue;
					left:0px;
				}

				.midpoint {
					position: absolute;
					width: 10px;
					height: 1px;
					background-color: silver;
					left:0px;
				}
			}
		}
}