<ion-view class="remote">
  <ion-content>

		<div class="layout-vflexbox video">

			<img ng-src="{{remote.host.camera}}"/>

			<div class="sensor">
				<div class="row">
					<div class="col">{{remote.rover.sonarF.name}}</div>
					<div class="col">{{remote.rover.sonarB.name}}</div>
					<div class="col">{{remote.rover.compass.name}}</div>
					<div class="col">{{remote.rover.gps.name}}</div>
				</div>
				<div class="row">
					<div class="col">{{remote.rover.sonarF.value}}</div>
					<div class="col">{{remote.rover.sonarB.value}}</div>
					<div class="col">{{remote.rover.compass.value}}</div>
					<div class="col">{{remote.rover.gps.value}}</div>
				</div>
			</div>
			<div class="camera dragpad" ng-model="remote.cameraDragPad"></div>
			<div class="movement dragpad" ng-model="remote.movementDragPad"></div>

		</div>

  </ion-content>
</ion-view>
